:root {
  --body-background: #ffe6d0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--body-background);
  font-size: 0.69rem;
  animation: bg-colors 10s ease-in-out alternate infinite;
}

@keyframes bg-colors {
  0% {
    background-color: var(--body-background);
  }
  20% {
    background-color: #ffd0d2;
  }
  40% {
    background-color: #fffdd0;
  }
  60% {
    background-color: #d0fffd;
  }
  80% {
    background-color: #d0d2ff;
  }
  100% {
    background-color: #fdd0ff;
  }
}